body {
  background-color: #000000;
  margin: 0;
  cursor: move;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}
a {
  color: #ffffff;
}
section {
  width: 1026px;
  height: 1026px;
  display: block;
}
section > div {
  display: table;
  width: 75%;
  height: 75%;
  margin: 12.5% auto;
}
section > div > .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#px > div {
  background-color: rgba(150, 50, 50, 0.5);
}
#nx > div {
  background-color: rgba(250, 50, 50, 0.5);
}
#nx_2 > div {
  background-color: rgba(250, 150, 50, 0.5);
}
#py > div {
  background-color: rgba(50, 150, 50, 0.5);
}
#ny > div {
  background-color: rgba(50, 250, 50, 0.5);
}
