@import "../stylesheets/_prefixer";
@posScale: 200;

body {
  background-color: #000000;
  margin: 0;
  cursor: move;
  overflow: hidden;
  color:white;
  font-family: sans-serif;
  font-size: 20px;
  overflow: hidden;
  -webkit-overflow-scrolling:none;
  //background-image: url('/road/images/mw.jpg');
}

a {
  color: #ffffff;
}

section{
  display: block;
}



#road {
  height: @posScale * 10.26px;
  width: @posScale * 2.565px;
}
#timeline{
  height: @posScale * 10.26px;
  width: @posScale * 0.25px;
  background-color:#08b200;
  z-index: 1;
  position: relative;

  .year {
    font-size: @posScale * 1%;
    position: absolute;
    .transform(rotateZ(-90deg) translateY(-10px))
  }
}

#road> div.bg {
  background-color: rgba(150,50,150,.5);
  position: absolute;top: 0;left: 0;right: 0;bottom: 0;
  background-image: url('/road/images/yellowbrick.jpg');
  background-size: 35%;
  //background-repeat: no-repeat;
  background-position: center;
}

.reveal-year() {
  height: @posScale * 1.8px;
  width: @posScale * 2.25px;
  .front {
    opacity: 0;
  }
  .reveal {
    opacity: 1;
  }

}

section {
  width: @posScale * 0.75px;
  height: @posScale * 0.5px;
  background-color: rgba(10,10,100,1);
  color: white;
  font-size: @posScale * 1%;
  position: relative;
  overflow: hidden;
  .transition(height 1s linear 1s, width .5s linear 2s);

  .front, .reveal {
    position: absolute;top: 0;right: 0;bottom: 0;left: 0;
    border: solid 10px #ff0000;
    .transition(opacity 1s linear 3s);
  }
  .front .year {
    opacity: 1;
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    .from {
      display: table-cell;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      text-align: center;
    }
  }
  .reveal {
    font-size: 50%;
    opacity: 0;
  }
}

#y2002 {
  body[data-year='2002'] & {
    .reveal-year()
  }
}

#y2006 {
  body[data-year='2006'] & {
    .reveal-year()
  }
}

#y2013:after{
  content: '';
  display: block;
  position: absolute;
  top: 0;left:0;right: 0;bottom: 0;
  background-color: rgba(0,0,0,.5);
  .transition(2s);

  body[data-year='2013'] & {
    background-color: rgba(0,0,0,0);
  }
}


#mw-1{
  display: none;
  background-color: orangered;
  width: @posScale * 21px;
  height: @posScale * 21px;
  //background-image: url('/road/images/mw.jpg');
  background-size: cover;
  background-position: 50% 50%;
}